@font-face {
    font-family: 'Zelda';
    src: url("http://acjanus.co/codepen/assets/zelda-chest/TLOZ-Links-Awakening.ttf") format("truetype"), url("http://acjanus.co/codepen/assets/zelda-chest/TLOZ-Links-Awakening.woff") format("woff"), url("http://acjanus.co/codepen/assets/zelda-chest/TLOZ-Links-Awakening.woff2") format("woff2");
}

@font-face {
    font-family: 'HenryMorganHand';
    src: url("../font-awesome/fonts/HenryMorganHand.ttf") format("truetype");
}

@keyframes rupeeRise {
    0% {
        bottom: 130px;
        z-index: 4;
    }
    100% {
        bottom: 500px;
        z-index: 4;
    }
}
@keyframes topChest {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100px;
    }
}
@keyframes zChange {
    0% {
        z-index: 5;
    }
    100% {
        z-index: 5;
    }
}
#instructions {
    font-family: italic'HenryMorganHand', sans-serif;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-size: 30px;
}

#top-checkbox {
    display: none;
}
#top-checkbox:checked + label #treasurechest-top {
    animation: topChest 2s linear 0s 1 forwards;
}
#top-checkbox:checked + label + #treasurechest-bottom {
    animation: zChange 2s linear 2s 1 forwards;
}
#top-checkbox:checked + label ~ #rupee {
    animation: rupeeRise 4s linear 3s 1 forwards;
}
#top-checkbox:checked ~ #instructions {
    display: none;
}

#treasurechest {
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    position: absolute;
    display: block;
    left: 50%;
    width: 200px;
    height: 160px;
    z-index: 3;
    transform: translateX(-50%);
    overflow: hidden;
    bottom: 20px;
    cursor: pointer;
}

#treasurechest-top {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background: #ffbb00;
    box-shadow: -95px 0px #ffbb00, -85px 0px #ffbb00, -75px 0px #000, -65px 0px #b52121, -55px 0px #b52121, -45px 0px #FFF, -35px 0px #b52121, -25px 0px #b52121, -15px 0px #000, -5px 0px #ffbb00, 5px 0px #ffbb00, 15px 0px #000, 25px 0px #b52121, 35px 0px #b52121, 45px 0px #FFF, 55px 0px #b52121, 65px 0px #b52121, 75px 0px #000, 85px 0px #ffbb00, 95px 0px #ffbb00, -95px 10px #ffbb00, -85px 10px #ffbb00, -75px 10px #000, -65px 10px #b52121, -55px 10px #b52121, -45px 10px #000, -35px 10px #b52121, -25px 10px #b52121, -15px 10px #000, -5px 10px #ffbb00, 5px 10px #ffbb00, 15px 10px #000, 25px 10px #b52121, 35px 10px #b52121, 45px 10px #000, 55px 10px #b52121, 65px 10px #b52121, 75px 10px #000, 85px 10px #ffbb00, 95px 10px #ffbb00, -95px 20px #FFF, -85px 20px #FFF, -75px 20px #000, -65px 20px #e15b5b, -55px 20px #e15b5b, -45px 20px #e15b5b, -35px 20px #e15b5b, -25px 20px #e15b5b, -15px 20px #000, -5px 20px #FFF, 5px 20px #FFF, 15px 20px #000, 25px 20px #e15b5b, 35px 20px #e15b5b, 45px 20px #e15b5b, 55px 20px #e15b5b, 65px 20px #e15b5b, 75px 20px #000, 85px 20px #FFF, 95px 20px #FFF, 105px 20px #000, -105px 30px #000, -95px 30px #FFF, -85px 30px #FFF, -75px 30px #000, -65px 30px #e15b5b, -55px 30px #e15b5b, -45px 30px #e15b5b, -35px 30px #e15b5b, -25px 30px #e15b5b, -15px 30px #000, -5px 30px #FFF, 5px 30px #FFF, 15px 30px #000, 25px 30px #e15b5b, 35px 30px #e15b5b, 45px 30px #e15b5b, 55px 30px #e15b5b, 65px 30px #e15b5b, 75px 30px #000, 85px 30px #FFF, 95px 30px #FFF, -95px 40px #ffbb00, -85px 40px #ffbb00, -75px 40px #000, -65px 40px #b52121, -55px 40px #b52121, -45px 40px #b52121, -35px 40px #b52121, -25px 40px #b52121, -15px 40px #000, -5px 40px #ffbb00, 5px 40px #ffbb00, 15px 40px #000, 25px 40px #b52121, 35px 40px #b52121, 45px 40px #b52121, 55px 40px #b52121, 65px 40px #b52121, 75px 40px #000, 85px 40px #ffbb00, 95px 40px #ffbb00, -95px 50px #ffbb00, -85px 50px #ffbb00, -75px 50px #000, -65px 50px #b52121, -55px 50px #b52121, -45px 50px #FFF, -35px 50px #b52121, -25px 50px #b52121, -15px 50px #000, -5px 50px #ffbb00, 5px 50px #ffbb00, 15px 50px #000, 25px 50px #b52121, 35px 50px #b52121, 45px 50px #FFF, 55px 50px #b52121, 65px 50px #b52121, 75px 50px #000, 85px 50px #ffbb00, 95px 50px #ffbb00, -95px 60px #ffbb00, -85px 60px #ffbb00, -75px 60px #000, -65px 60px #b52121, -55px 60px #b52121, -45px 60px #000, -35px 60px #b52121, -25px 60px #b52121, -15px 60px #000, -5px 60px #ffbb00, 5px 60px #ffbb00, 15px 60px #000, 25px 60px #b52121, 35px 60px #b52121, 45px 60px #000, 55px 60px #b52121, 65px 60px #b52121, 75px 60px #000, 85px 60px #ffbb00, 95px 60px #ffbb00, -95px 70px #ffbb00, -85px 70px #ffbb00, -75px 70px #000, -65px 70px #b52121, -55px 70px #b52121, -45px 70px #b52121, -35px 70px #b52121, -25px 70px #b52121, -15px 70px #000, -5px 70px #ffbb00, 5px 70px #ffbb00, 15px 70px #000, 25px 70px #b52121, 35px 70px #b52121, 45px 70px #b52121, 55px 70px #b52121, 65px 70px #b52121, 75px 70px #000, 85px 70px #ffbb00, 95px 70px #ffbb00, -95px 80px #ffbb00, -85px 80px #ffbb00, -75px 80px #000, -65px 80px #b52121, -55px 80px #b52121, -45px 80px #b52121, -35px 80px #b52121, -25px 80px #b52121, -15px 80px #000, -5px 80px #ffbb00, 5px 80px #ffbb00, 15px 80px #000, 25px 80px #b52121, 35px 80px #b52121, 45px 80px #b52121, 55px 80px #b52121, 65px 80px #b52121, 75px 80px #000, 85px 80px #ffbb00, 95px 80px #ffbb00, -95px 90px #ffbb00, -85px 90px #ffbb00, -75px 90px #000, -65px 90px #000, -55px 90px #000, -45px 90px #000, -35px 90px #000, -25px 90px #000, -15px 90px #000, -5px 90px #ffbb00, 5px 90px #ffbb00, 15px 90px #000, 25px 90px #000, 35px 90px #000, 45px 90px #000, 55px 90px #000, 65px 90px #000, 75px 90px #000, 85px 90px #ffbb00, 95px 90px #ffbb00, -95px 100px #ffbb00, -85px 100px #ffbb00, -75px 100px #ffbb00, -65px 100px #ffbb00, -55px 100px #ffbb00, -45px 100px #ffbb00, -35px 100px #ffbb00, -25px 100px #ffbb00, -15px 100px #FFF, -5px 100px #FFF, 5px 100px #FFF, 15px 100px #FFF, 25px 100px #ffbb00, 35px 100px #ffbb00, 45px 100px #ffbb00, 55px 100px #ffbb00, 65px 100px #ffbb00, 75px 100px #ffbb00, 75px 100px #ffbb00, 85px 100px #ffbb00, 95px 100px #ffbb00, -95px 110px #000, -85px 110px #000, -75px 110px #000, -65px 110px #000, -55px 110px #000, -45px 110px #000, -35px 110px #000, -25px 110px #000, -15px 110px #ffbb00, -5px 110px #000, 5px 110px #000, 15px 110px #ffbb00, 25px 110px #000, 35px 110px #000, 45px 110px #000, 55px 110px #000, 65px 110px #000, 75px 110px #000, 85px 110px #000, 95px 110px #000, -15px 120px #ffbb00, 15px 120px #ffbb00, -15px 130px #ffbb00, -5px 130px #ffbb00, 5px 130px #ffbb00, 15px 130px #ffbb00, -15px 140px #000, -5px 140px #000, 5px 140px #000, 15px 140px #000;
}
#treasurechest-top:before {
    content: ' ';
    width: 220px;
    height: 190px;
    display: block;
    margin-left: -110px;
}

#treasurechest-bottom {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    position: absolute;
    bottom: 180px;
    box-shadow: -105px 90px #000, -95px 90px #000, -85px 90px #000, -75px 90px #000, -65px 90px #000, -55px 90px #000, -45px 90px #000, -35px 90px #000, -25px 90px #000, -15px 90px #000, -5px 90px #000, 5px 90px #000, 15px 90px #000, 25px 90px #000, 35px 90px #000, 45px 90px #000, 55px 90px #000, 65px 90px #000, 75px 90px #000, 85px 90px #000, 95px 90px #000, 105px 90px #000, -105px 100px #000, -95px 100px #ffbb00, -85px 100px #ffbb00, -75px 100px #000, -65px 100px #b52121, -55px 100px #b52121, -45px 100px #b52121, -35px 100px #b52121, -25px 100px #b52121, -15px 100px #b52121, -5px 100px #b52121, 5px 100px #b52121, 15px 100px #b52121, 25px 100px #b52121, 35px 100px #b52121, 45px 100px #b52121, 55px 100px #b52121, 65px 100px #b52121, 75px 100px #000, 85px 100px #ffbb00, 95px 100px #ffbb00, 105px 100px #000, -105px 110px #000, -95px 110px #ffbb00, -85px 110px #ffbb00, -75px 110px #000, -65px 110px #b52121, -55px 110px #b52121, -45px 110px #b52121, -35px 110px #b52121, -25px 110px #b52121, -15px 110px #b52121, -5px 110px #b52121, 5px 110px #b52121, 15px 110px #b52121, 25px 110px #b52121, 35px 110px #b52121, 45px 110px #b52121, 55px 110px #b52121, 65px 110px #b52121, 75px 110px #000, 85px 110px #ffbb00, 95px 110px #ffbb00, 105px 110px #000, -105px 120px #000, -95px 120px #ffbb00, -85px 120px #ffbb00, -75px 120px #000, -65px 120px #b52121, -55px 120px #b52121, -45px 120px #b52121, -35px 120px #b52121, -25px 120px #b52121, -15px 120px #b52121, -5px 120px #b52121, 5px 120px #b52121, 15px 120px #b52121, 25px 120px #b52121, 35px 120px #b52121, 45px 120px #b52121, 55px 120px #b52121, 65px 120px #b52121, 75px 120px #000, 85px 120px #ffbb00, 95px 120px #ffbb00, 105px 120px #000, -105px 130px #000, -95px 130px #ffbb00, -85px 130px #ffbb00, -75px 130px #000, -65px 130px #b52121, -55px 130px #b52121, -45px 130px #b52121, -35px 130px #b52121, -25px 130px #b52121, -15px 130px #b52121, -5px 130px #b52121, 5px 130px #b52121, 15px 130px #b52121, 25px 130px #b52121, 35px 130px #b52121, 45px 130px #b52121, 55px 130px #b52121, 65px 130px #b52121, 75px 130px #000, 85px 130px #ffbb00, 95px 130px #ffbb00, 105px 130px #000, -105px 140px #000, -95px 140px #ffbb00, -85px 140px #ffbb00, -75px 140px #000, -65px 140px #000, -55px 140px #000, -45px 140px #000, -35px 140px #000, -25px 140px #000, -15px 140px #000, -5px 140px #000, 5px 140px #000, 15px 140px #000, 25px 140px #000, 35px 140px #000, 45px 140px #000, 55px 140px #000, 65px 140px #000, 75px 140px #000, 85px 140px #ffbb00, 95px 140px #ffbb00, 105px 140px #000, -105px 150px #000, -95px 150px #ffbb00, -85px 150px #ffbb00, -75px 150px #ffbb00, -65px 150px #ffbb00, -55px 150px #ffbb00, -45px 150px #ffbb00, -35px 150px #ffbb00, -25px 150px #ffbb00, -15px 150px #ffbb00, -5px 150px #ffbb00, 5px 150px #ffbb00, 15px 150px #ffbb00, 25px 150px #ffbb00, 35px 150px #ffbb00, 45px 150px #ffbb00, 55px 150px #ffbb00, 65px 150px #ffbb00, 75px 150px #ffbb00, 85px 150px #ffbb00, 95px 150px #ffbb00, 105px 150px #000, -105px 160px #000, -95px 160px #ffbb00, -85px 160px #ffbb00, -75px 160px #ffbb00, -65px 160px #ffbb00, -55px 160px #ffbb00, -45px 160px #ffbb00, -35px 160px #ffbb00, -25px 160px #ffbb00, -15px 160px #ffbb00, -5px 160px #ffbb00, 5px 160px #ffbb00, 15px 160px #ffbb00, 25px 160px #ffbb00, 35px 160px #ffbb00, 45px 160px #ffbb00, 55px 160px #ffbb00, 65px 160px #ffbb00, 75px 160px #ffbb00, 85px 160px #ffbb00, 95px 160px #ffbb00, 105px 160px #000, -105px 170px #000, -95px 170px #000, -85px 170px #000, -75px 170px #000, -65px 170px #000, -55px 170px #000, -45px 170px #000, -35px 170px #000, -25px 170px #000, -15px 170px #000, -5px 170px #000, 5px 170px #000, 15px 170px #000, 25px 170px #000, 35px 170px #000, 45px 170px #000, 55px 170px #000, 65px 170px #000, 75px 170px #000, 85px 170px #000, 95px 170px #000, 105px 170px #000;
}

#treasurechest-bg {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    position: absolute;
    bottom: 160px;
    background: #b52121;
    box-shadow: -105px 0px #000, -95px 0px #5f1111, -85px 0px #5f1111, -75px 0px #5f1111, -65px 0px #5f1111, -55px 0px #5f1111, -45px 0px #5f1111, -35px 0px #5f1111, -25px 0px #5f1111, -15px 0px #5f1111, -5px 0px #5f1111, 5px 0px #5f1111, 15px 0px #5f1111, 25px 0px #5f1111, 35px 0px #5f1111, 45px 0px #5f1111, 55px 0px #5f1111, 65px 0px #5f1111, 75px 0px #5f1111, 85px 0px #5f1111, 95px 0px #5f1111, 105px 0px #000, -105px 10px #000, -95px 10px #5f1111, -85px 10px #5f1111, -75px 10px #5f1111, -65px 10px #5f1111, -55px 10px #5f1111, -45px 10px #5f1111, -35px 10px #5f1111, -25px 10px #5f1111, -15px 10px #5f1111, -5px 10px #5f1111, 5px 10px #5f1111, 15px 10px #5f1111, 25px 10px #5f1111, 35px 10px #5f1111, 45px 10px #5f1111, 55px 10px #5f1111, 65px 10px #5f1111, 75px 10px #5f1111, 85px 10px #5f1111, 95px 10px #5f1111, 105px 10px #000, -105px 20px #000, -95px 20px #5f1111, -85px 20px #5f1111, -75px 20px #5f1111, -65px 20px #5f1111, -55px 20px #5f1111, -45px 20px #5f1111, -35px 20px #5f1111, -25px 20px #5f1111, -15px 20px #5f1111, -5px 20px #5f1111, 5px 20px #5f1111, 15px 20px #5f1111, 25px 20px #5f1111, 35px 20px #5f1111, 45px 20px #5f1111, 55px 20px #5f1111, 65px 20px #5f1111, 75px 20px #5f1111, 85px 20px #5f1111, 95px 20px #5f1111, 105px 20px #000, -105px 30px #000, -95px 30px #5f1111, -85px 30px #5f1111, -75px 30px #5f1111, -65px 30px #5f1111, -55px 30px #5f1111, -45px 30px #5f1111, -35px 30px #5f1111, -25px 30px #5f1111, -15px 30px #5f1111, -5px 30px #5f1111, 5px 30px #5f1111, 15px 30px #5f1111, 25px 30px #5f1111, 35px 30px #5f1111, 45px 30px #5f1111, 55px 30px #5f1111, 65px 30px #5f1111, 75px 30px #5f1111, 85px 30px #5f1111, 95px 30px #5f1111, 105px 30px #000, -105px 40px #000, -95px 40px #5f1111, -85px 40px #5f1111, -75px 40px #5f1111, -65px 40px #5f1111, -55px 40px #5f1111, -45px 40px #5f1111, -35px 40px #5f1111, -25px 40px #5f1111, -15px 40px #5f1111, -5px 40px #5f1111, 5px 40px #5f1111, 15px 40px #5f1111, 25px 40px #5f1111, 35px 40px #5f1111, 45px 40px #5f1111, 55px 40px #5f1111, 65px 40px #5f1111, 75px 40px #5f1111, 85px 40px #5f1111, 95px 40px #5f1111, 105px 40px #000, -105px 50px #000, -95px 50px #5f1111, -85px 50px #5f1111, -75px 50px #5f1111, -65px 50px #5f1111, -55px 50px #5f1111, -45px 50px #5f1111, -35px 50px #5f1111, -25px 50px #5f1111, -15px 50px #5f1111, -5px 50px #5f1111, 5px 50px #5f1111, 15px 50px #5f1111, 25px 50px #5f1111, 35px 50px #5f1111, 45px 50px #5f1111, 55px 50px #5f1111, 65px 50px #5f1111, 75px 50px #5f1111, 85px 50px #5f1111, 95px 50px #5f1111, 105px 50px #000, -105px 60px #000, -95px 60px #5f1111, -85px 60px #5f1111, -75px 60px #5f1111, -65px 60px #5f1111, -55px 60px #5f1111, -45px 60px #5f1111, -35px 60px #5f1111, -25px 60px #5f1111, -15px 60px #5f1111, -5px 60px #5f1111, 5px 60px #5f1111, 15px 60px #5f1111, 25px 60px #5f1111, 35px 60px #5f1111, 45px 60px #5f1111, 55px 60px #5f1111, 65px 60px #5f1111, 75px 60px #5f1111, 85px 60px #5f1111, 95px 60px #5f1111, 105px 60px #000, -105px 70px #000, -95px 70px #5f1111, -85px 70px #5f1111, -75px 70px #5f1111, -65px 70px #5f1111, -55px 70px #5f1111, -45px 70px #5f1111, -35px 70px #5f1111, -25px 70px #5f1111, -15px 70px #5f1111, -5px 70px #5f1111, 5px 70px #5f1111, 15px 70px #5f1111, 25px 70px #5f1111, 35px 70px #5f1111, 45px 70px #5f1111, 55px 70px #5f1111, 65px 70px #5f1111, 75px 70px #5f1111, 85px 70px #5f1111, 95px 70px #5f1111, 105px 70px #000;
}

#rupee {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 130px;
    z-index: 0;
    background: #000;
    margin-left: -5px;
    box-shadow: -50px 0px #000, -40px 0px #000, -30px 0px #000, -20px 0px #000, -10px 0px #000, 10px 0px #000, 20px 0px #000, 30px 0px #000, 40px 0px #000, 50px 0px #000, 60px 0px #000, 70px 0px #000, 80px 0px #000, 90px 0px #000, -60px 10px #000, -50px 10px #000, -40px 10px #FFF, -30px 10px #FFF, -20px 10px #FFF, -10px 10px #FFF, 0px 10px #FFF, 10px 10px #FFF, 20px 10px #FFF, 30px 10px #FFF, 40px 10px #FFF, 50px 10px #FFF, 60px 10px #FFF, 70px 10px #FFF, 80px 10px #FFF, 90px 10px #000, -70px 20px #000, -60px 20px #FFF, -50px 20px #000, -40px 20px #FFF, -30px 20px #000, -20px 20px #000, -10px 20px #FFF, 0px 20px #000, 10px 20px #000, 20px 20px #FFF, 30px 20px #000, 40px 20px #000, 50px 20px #FFF, 60px 20px #000, 70px 20px #FFF, 80px 20px #FFF, 90px 20px #000, -80px 30px #000, -70px 30px #000, -60px 30px #000, -50px 30px #000, -40px 30px #FFF, -30px 30px #FFF, -20px 30px #FFF, -10px 30px #FFF, 0px 30px #FFF, 10px 30px #FFF, 20px 30px #FFF, 30px 30px #FFF, 40px 30px #FFF, 50px 30px #FFF, 60px 30px #FFF, 70px 30px #FFF, 80px 30px #FFF, 90px 30px #000, -50px 40px #000, -40px 40px #FFF, -30px 40px #000, -20px 40px #FFF, -10px 40px #000, 0px 40px #000, 10px 40px #FFF, 20px 40px #FFF, 30px 40px #000, 40px 40px #000, 50px 40px #FFF, 60px 40px #000, 70px 40px #FFF, 80px 40px #FFF, 90px 40px #000, -50px 50px #000, -40px 50px #FFF, -30px 50px #FFF, -20px 50px #FFF, -10px 50px #FFF, 0px 50px #FFF, 10px 50px #FFF, 20px 50px #FFF, 30px 50px #FFF, 40px 50px #FFF, 50px 50px #FFF, 60px 50px #FFF, 70px 50px #FFF, 80px 50px #FFF, 90px 50px #000, -50px 60px #000, -40px 60px #FFF, -30px 60px #000, -20px 60px #000, -10px 60px #FFF, 0px 60px #FFF, 10px 60px #000, 20px 60px #000, 30px 60px #FFF, 40px 60px #000, 50px 60px #FFF, 60px 60px #000, 70px 60px #FFF, 80px 60px #FFF, 90px 60px #000, -50px 70px #000, -40px 70px #FFF, -30px 70px #FFF, -20px 70px #FFF, -10px 70px #FFF, 0px 70px #FFF, 10px 70px #FFF, 20px 70px #FFF, 30px 70px #FFF, 40px 70px #FFF, 50px 70px #FFF, 60px 70px #FFF, 70px 70px #FFF, 80px 70px #FFF, 90px 70px #000, -50px 80px #000, -40px 80px #FFF, -30px 80px #000, -20px 80px #000, -10px 80px #000, 0px 80px #FFF, 10px 80px #000, 20px 80px #FFF, 30px 80px #FFF, 40px 80px #FFF, 50px 80px #FFF, 60px 80px #FFF, 70px 80px #FFF, 80px 80px #FFF, 90px 80px #000, -50px 90px #000, -40px 90px #FFF, -30px 90px #FFF, -20px 90px #FFF, -10px 90px #FFF, 0px 90px #FFF, 10px 90px #FFF, 20px 90px #FFF, 30px 90px #FFF, 40px 90px #FFF, 50px 90px #FFF, 60px 90px #FFF, 70px 90px #FFF, 80px 90px #FFF, 90px 90px #000, -60px 100px #000, -50px 100px #000, -40px 100px #000, -30px 100px #000, -20px 100px #000, -10px 100px #000, 0px 100px #000, 10px 100px #000, 20px 100px #000, 30px 100px #000, 40px 100px #000, 50px 100px #000, 60px 100px #000, 70px 100px #000, 80px 100px #000
}

canvas{
    display: block;
    margin: 0 auto;
    padding: 0px;
}

.row{
    margin: 0px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}
* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#letter {
    font-family: 'HenryMorganHand', sans-serif;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 0;
    margin-left: -5px;
    top: 15%;
    background-image: url("../images/carta.png");
    background-color: transparent;
    width: 450px;
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.letter-info{
    width: 80%;
    padding-left: 17%;
    margin-top: 10%;
    font-size: 30px;
}

.letter-info h3{
    font-size: 30px;
}

.img-fondo{
    position: absolute;
    height: 100%;
}