{% extends "::base.html.twig" %}

{% block body %} 
    <body>
        <div class="row">
            <div class="container">
                <p>Hello</p>
            </div>
        </div>
    </body>
{% endblock %}