services:
#    app_backend.example:
#        class: AppBackendBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]
    app_backend.admin.user:
        class: AppBackendBundle\Admin\UserAdmin
        arguments: [~, AppModelBundle\Entity\User, AppBackendBundle:UserAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: User, label: User}

    app_backend.admin.invitation:
        class: AppBackendBundle\Admin\InvitationAdmin
        arguments: [~, AppModelBundle\Entity\Invitation, AppBackendBundle:InvitationAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Invitation}
